// ***First Section***
// style > 3-layout > _sliders.scss!

.firstSectiion {
    // padding: 110px 0 0;
    max-width: 1920px;
    margin: 0 auto;
    .new_slider {
        .carousel {
            height: 85vh;
            ul {
                li {
                    img {
                        height: 85vh;
                    }
                }
            }
        }
    }
}

// ***LATEST NEWS***


// Sliderot e ist kako vo MEMBERS
// *******************************.

#news-slider {
    .list {
        li {
            height: 250px;
            h5 {
                margin-top: 10px;
                text-align: center;
            }
            img {
                height: 200px;
            }
        }
    }
}

.news-slider_main {
    i {
        margin-top: 30px;
    }
}

// *** WHAT IS ESPORT? ***

.whatIs_icons {
    color: $secondary;
    font-size: 30px;
    padding-right: 10px;
}
.whatIs__mainDiv {
    display: flex;
    margin-bottom: 30px;
    // flex-direction: column; //za responsive
    h5 {
        color: $fill;
        text-transform: capitalize;
        display: inline-block;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    p {
        font-style: italic;
        padding-left: 50px;
        opacity: 0.73;
    }

    .whatIs__subDiv1 {
        width: 50%;
        // // float: left;
        padding-right: 10px;
    }
    .whatIs__subDiv2 {
        width: 50%;
        // float: right;
        padding-left: px;
        text-align: center;
        // align-items: center;
    }
    iframe {
        width: 100%;
        height: 80%;

    }
}


.findOurMore-btn {
    display: inline-block;
    position: relative;
    left: 250px;
    margin-top: 100px;
}


// *** OUR MISSION ***

.our_mission {
    background-image: linear-gradient(rgba($primary,0.9) 10%, rgba($primary,0.98) 50% ,rgba($primary,1) 75%), url('/img/background/backgroundPhoto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourMission__main-div {
    display: flex;
    justify-content: space-between;
}

.ourMission_sub-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h5 {
        padding: 20px 0;
    }
    i {
        padding-top: 30px;
        font-size: 50px;
        color: $fill;
    }
    p {
        opacity: 0.73;
        font-style: italic;
        padding: 0 60px;
    }
}

// Members******

.members_background {
    background-image: linear-gradient(rgba($primary, 0.8) 0%, rgba($primary,9) 50% ,rgba($primary,0.9) 90%), url('/img/background/section-background.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slider-members {
    text-align: center;
    // h5 {
    //     // color: $secondary;
    // }
    a {
        img {
            width: 25%;
            
        }
    }
}

.slider-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .list {
        height: 200px;
        align-items: center;
        li {
            list-style-type: none;
            width: 25%;
            height: 12.5%;
            position: absolute;
            left: 50%;
            margin-left: -200px;
            transition: transform 1s, opacity 1s;
        }
    }

    .slider {
        width: 100%;

        .polygon {
            li {
                clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%); // za latest news
            }
        }

        .list {
            overflow-x: hidden;
            .prev {
                transform: translateX(-90%) scale(0.66);
            }

            .next {
                transform: translateX(90%) scale(0.66);
            }

            .hide {
                transform: translateX(-140%) scale(0.30);
            }

            .new-next {
                transform: translateX(140%) scale(0.30);
            }


            .begin-anew {
                opacity: 0;
                transform: translateX(167%) scale(0.20);
                pointer-events: none;
            }

            .before-hide {
                opacity: 0;
                transform: translateX(-167%) scale(0.20);
                pointer-events: none;
            }


            .begin-anew-fast {
                transform: translateX(167%) scale(0.20);
                opacity: 0;
                transition: transform 0s, opacity 0s;
                pointer-events: none;
            }

            .before-hide-fast {
                opacity: 0;
                transform: translateX(-167%) scale(0.20);
                transition: transform 0s, opacity 0s;
                pointer-events: none;

            }
        }
    }
}


// Become a member****

.becomeAMember__main-div {
    display: flex;
    justify-content: space-between;

    .becomeAMember__wrapper {
        background-color: $secondary;
        width: 100%;
        height: 100%;


        i {
            font-size: 60px;
            color: $fill;
            position: absolute;
        }
    }
    .becomeAMember__sub-div1 {
        margin-right: 30px;
    }
    .becomeAMember__sub-div2 {
        margin-left: 30px;
        margin-top: 30px;
    }
    .becomeAMember__card {
        padding: 20px;
        margin: 30px 0;
        background-color: darken($primary, 10%);

        h5,
        p {
            padding-left: 90px;
        }
        h5 {
            padding-bottom: 10px;
        }
        p {
            font-style: italic;
            font-weight: 200;
        }
    }
}


// JOIN NOW***************

.join_now {

    background-image: linear-gradient(rgba($primary,0.99) 10%, rgba($primary,0.9) 20%, rgba($fill,0.5) 50% , rgba($primary,0.9) 80% rgba($primary,0.99) 90%,), url('/img/background/pic1.jpg');
    background-position: center;
    background-size: cover;
    padding: 60px 0; // za da izlgeda pogolema celata sekcija


    .joinNow__main-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .join_now-btn {
            border: 0.1px solid $primary;
            &:hover {
                box-shadow: 0 0 5px $secondary;
            }
        }
    }

    h3 {
        text-transform: none;
    }
}

// E-STORE ***************

.img-store {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.store-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 90px;
    display: none; // dodeka nema store, nema potreba da ima kopche FIND OUT MORE
}

// ENDORSED BY

.ednorsedBy_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        img {
            width: 200px;
        }
    }
}

// MEDIA QUERY
@include XL {
    // ***First Section***
    .firstSectiion {
        .new_slider {
            .carousel {
                height: 50vh;
                ul {
                    li {
                        img {
                            height: 50vh;
                        }
                    }
                }
            }
        }
    }
    // Latest News slider
  
    .slider-container {
        .list {
            height: 200px;
            max-width: 1440px;
        }
    }
    #news-slider {
        .list {
           
            li {
                list-style-type: none;
                width: 400px;
                height: 200px;
                position: absolute;
                left: 50%;
                margin-left: -200px;
                transition: transform 1s, opacity 1s;
                height: 250px;

                img {
                    height:200px;
                }
            }
        }
    }
}
@include laptopL {
    // ***First Section***
    .firstSectiion {
        .new_slider {
            .carousel {
                height: 80vh;
                ul {
                    li {
                        img {
                            height: 80vh;
                        }
                    }
                }
            }
        }
    }
    // Latest news

    // *** OUR MISSION ***

    .ourMission_sub-div {

        i {
            padding-top: 30px;
            font-size: 40px;
            color: $fill;
        }
        p {
            opacity: 0.8;
            font-style: italic;
            font-size: 13px;
            padding: 0 30px;
        }
    };
    // Become a member****
}

@include laptop {

    // SLIDERS

    // .slider-container{
    //     .list {
    //         height: 200px;
    //         li {
    //             list-style-type: none;
    //             width: 300px;
    //             height: 100px;
    //             position: absolute;
    //             left: 50%;
    //             margin-left: -150px;
    //             transition: transform 1s, opacity 1s;
    //         }
    //     }
    // }

    // ***First Section***
    .firstSectiion {
        .new_slider {
            .carousel {
                height: 80vh;
                ul {
                    li {
                        img {
                            height: 80vh;
                        }
                    }
                }
            }
        }
    }

    // Latest News slider
    .slider-container {
        .list {
            height: 160px;
        }
    }
    #news-slider {
        .list {
            li {
                height: 190px;

                img {
                    height: 160px;
                }
            }
        }
    }

    // *** OUR MISSION ***

    .ourMission_sub-div {

        i {
            padding-top: 30px;
            font-size: 40px;
            color: $fill;
        }
        p {
            opacity: 0.8;
            font-style: italic;
            font-size: 13px;
            padding: 0 15px;
        }
    };
    // Become a member****
    .becomeAMember__main-div {
        .becomeAMember__sub-div1 {
            margin-right: 10px;
        }
        .becomeAMember__sub-div2 {
            margin-left: 10px;
            margin-top: 0;
        }
        .becomeAMember__card {
            margin: 20px 0;
        }
    }
}


@include tablet {
    // ***First Section***
    .firstSectiion {
        .new_slider {
            .carousel {
                height: 80vh;
                ul {
                    li {
                        img {
                            height: 80vh;
                        }
                    }
                }
            }
        }
    }
    // Latest News slider

    .slider-container {
        .list {
            height: 110px;
        }
    }
    #news-slider {
        .list {
            li {
                height: 140px;

                img {
                    height: 110px;
                }
            }
        }
    }

    // *** WHAT IS ESPORT? ***

    .whatIs_icons {
        font-size: 22px;
        padding-right: 7px;
    }
    .p_center {
        text-align: center;
    }
    .whatIs__mainDiv {
        flex-direction: column; // za responsive
        h5 {
            padding-top: 30px;
        }
        p {
            padding: 0 50px;

        }
        .whatIs__subDiv1 {
            width: 100%;
            text-align: center;
        }
        .whatIs__subDiv2 {
            width: 100%;
            height: 400px;
        }
        iframe {
            width: 100%;
            height: 90%;

        }
    }


    .findOurMore-btn {
        // display: inline-block;
        // position: relative;
        left: 0;
        margin: 30px auto;
    }

    // *** OUR MISSION ***

    .ourMission__main-div {
        display: inline-block;

        i {
            // text-align: center;
            padding-top: 20px;
            font-size: 30px;
            color: $fill;
        }
        h5 {
            padding: 5px 0;
        }
        p {
            opacity: 0.8;
            font-style: italic;
            font-size: 12px;
            padding: 0 30px;
        }
    }
    // Become a member****

    .becomeAMember__main-div {
        display: inline-block;

        .becomeAMember__wrapper {
            i {
                font-size: 50px;

            }
        }
        .becomeAMember__sub-div1 {
            margin-right: 0;
        }
        .becomeAMember__sub-div2 {
            margin-left: 0;
            margin-top: 0;
        }
    }
    // JOIN NOW***************

    .join_now {
        text-align: center;
        .joinNow__main-div {
            display: inline-block;
            padding: 0;
            h3 {
                padding-bottom: 10px;
                font-size: 18px;
            }
            .join_now-btn {
                font-size: 14px;
            }
        }
    }

    // ENDORSED BY

    .ednorsedBy_div {

        a {
            img {
                width: 115px;
            }
        }
    }
}
// Sliders -Latest News & Members


.slider-container {
    .list {

        li {
            margin-left: -13%;
        }
    }

    .slider {
        width: 100%;

        .polygon {
            li {
                clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%); // za latest news
            }
        }


    }
}


@include mobile {
    // ***First Section***
    .firstSectiion {
        .new_slider {
            .carousel {
                height: 40vh;
                ul {
                    li {
                        img {
                            height: 40vh;
                        }
                    }
                }
            }
        }
    }
    // Latest News slider

    .slider-container {
        .list {
            height: 90px;
        }
    }
    #news-slider {
        .list {
            li {
                height: 130px;

                img {
                    height: 90px;
                }
            }
        }
    }

    // *** OUR MISSION ***
    .becomeAMember__main-div {

        .becomeAMember__wrapper {
            i {
                font-size: 40px;
            }

        }
    }
    // JOIN NOW***************

    .join_now {

        .joinNow__main-div {

            h3 {
                padding-bottom: 10px;
                font-size: 16px;
            }
            .join_now-btn {
                font-size: 14px;
            }
        }
    }
    // ENDORSED BY

    .ednorsedBy_div {

        a {
            img {
                width: 75px;
            }
        }
    }
}
