// ***First Section Slider***

.carousel-caption {
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    display: none;
}

.carousel-control {
    text-shadow: 0;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,1)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,1)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}

img {
    width: 100%;
}


.carousel-inner {
    max-height: 550px;
    width: 100%;
}


// ***LATEST NEWS***
.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .slider1 {
        width: 200px;
        height: 100px;
        background-color: $fill;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

    }
    .slider2 {
        width: 300px;
        height: 150px;
        background-color: $secondary;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }
    .slider3 {
        width: 400px;
        height: 200px;
        background-color: grey;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }
    .slider4 {
        width: 300px;
        height: 150px;
        background-color: $secondary;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }
    .slider5 {
        width: 200px;
        height: 100px;
        background-color: $fill;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }
}


// *** WHAT IS ESPORT? ***
h1 {
    text-align: center;
    padding-bottom: 30px;
}

// eSport Cards

i {
    color: $secondary;
    font-size: 30px;
    padding-right: 10px;
}
.whatIs__mainDiv {
    display: flex;
    margin-bottom: 30px;
    // flex-direction: column; //za responsive
    h5 {
        color: $fill;
        text-transform: capitalize;
        display: inline-block;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    p {
        font-style: italic;
        font-size: 14px;
        padding-left: 50px;

    }

    .whatIs__subDiv1 {
        width: 50%;
        // // float: left;
        padding-right: 10px;
    }
    .whatIs__subDiv2 {
        width: 50%;
        // float: right;
        padding-left: px;
        text-align: center;
        // align-items: center;
    }
    iframe {
        width: 100%;
        height: 80%;

    }
}


.findOurMore-btn {
    display: inline-block;
    position: relative;
    left: 250px;
    margin-top: 100px;
}


// *** OUR MISSION ***
