// WHAT IS ESPORT?
h1 {
    text-align: center;
}


// eSport Cards

i {
    color: $secondary;
    font-size: 30px;
}
.whatIs__mainDiv {

    h5{
        color: $fill;
        text-transform: capitalize;
    }
    p{
        font-style: italic;
        font-size: 14px;
    }

    .whatIs__subDiv1{
        width: 50%;
        float: left;
        padding-right: 30px;
    }
    .whatIs__subDiv2{
        width: 50%;
        float: right;
        padding-left: 30px;
        text-align: center;
        align-items: center;
    }
    iframe {
        width: 100%;
        height: 350px;
    }
}
