// PADDINGS
.pd__bottom30 {
    padding-bottom: 30px;
}

.pd__bottom50 {
    padding: 50px;
}

// FLEX
.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-space-between {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.verticaly__align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

// ABOUT US

.about__section-wrapper {
    img {
        width: 100%;
        border: 1px solid $fill;
    }

    div {
        padding: 0 20px;
        width: 50%;
    }
}

// MANAGEMENT STRUCTURE

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
}
.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0;
    transition: all 0.5s;
}
.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid $fill;
    width: 50%;
    height: 20px;
}
.tree li:after {
    right: auto;
    left: 50%;
    border-left: 1px solid $fill;
}
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 1px solid $fill;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid $fill;
    width: 0;
    height: 20px;
    margin-left: -1px;
}
.tree li a img {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 2px;
}

.tree li a {
    text-decoration: none;
    color: #666;
    font-family: $Roboto;
    background: $secondary;
    border: 1px solid $fill;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border-radius: 5%;
    transition: all 0.5s;
    width: 100%;
    height: 100%;

    .structure__memberPosition {
        font-size: 12px;
    }
}

.li__divWrapper {
    width: 230px;
    height: 60px;
}

li a.just-line {
    display: none;
}
a.just-line + ul {
    padding-top: 74px;
}
a.just-line + ul:before {
    height: 74px;
}

// .structure__popUp {
// display: flex;
// width: 300px;
// height: auto;
// background-color: $primary;
// border: 1px solid $fill;
// flex-direction: column;
// justify-content: space-evenly;
// align-items: center;

// img {
// width: 70px;
// height: 70px;
// }
// }

// POPUP TRIALS

/* Outer div - needs to be relative so we can use absolute positioning */
.clickToShowInfo {
    position: relative;
    font-size: 10px;
}
/* When clicking outer div, make inner div visible */
.clickToShowInfo:active .info {
    visibility: visible;
}
/* And hold by staying visible on hover */
.info:active {
    visibility: visible;
}
/* General settings for popup */
.info {
    position: absolute;
    right: -0.5px;
    top: -5;
    visibility: hidden;
    z-index: 100;
    background-image: url("../../img/background/section-background.PNG");
    border: 1px solid $fill;
    overflow: hidden;
    padding: 8px;
    width: 231px;
    height: 200px;
}

// MOBILE STRUCTURE
.mobile__membersStructure {
  
    .mobile__structure__topWrapper{
        height: 80px;
        text-align: center;
        background: none;
        border: none;
       
    }
    div {
        h6, p{
            color: #666;

        }
        p{
            font-size: 10px;
        }
        
        font-family: $Roboto;
        background: $secondary;
        width: 250px;
        height: 270px;
        border: 1px solid $fill;
        margin-bottom: 5px;
        text-align: center;
       .president{
           height: auto;
       }
    }
    a{
        height: 80px;
    }

    display: flex;
    flex-direction: column;
    height: 650px;
    img {
        width: 50px;
        height: 50px;
    }

    .mobile__membersStructure__wrapper {
        display: flex;
        background: none;
        border: none;
        flex-direction: column;
    }

    .mobile__structure__bottomWrapper{
        display: flex;
        background: none;
        border: none;
        div {
            width: 100%;
            height: 100%;

        }
    }

    display: none;

}


.org-cards {
    width: 30%;
    padding: 0 60px;
    text-align: center;
    a {
        h5 {
            padding-top: 20px;
        }
        p {
            text-transform: none;
            padding-top: 30px;
        }
    }
}

.intOrgCards {
    width: 250px;
    padding-bottom: 30px;
    // height: 150px;
    // background-color: $secondary;
    // clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

// FACT SHEET
[type="radio"] {
    display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    img {
        width: 100%;
        height: 100%;
    }
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
}


.pastPartners__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    .pastPartnersMembers {
        width: 8.3%;
    }
}

// RESPONSIVE

@include laptopL {
    .org-cards {
        padding: 0 30px;
        a {
            h5 {
                padding-top: 20px;
            }
            p {
                text-transform: none;
                padding-top: 30px;
            }
        }
    }
}

@include laptop {
}

@include tablet {
    .about__intOrg {
        display: flex;
        flex-direction: column;
        align-items: center;

        .org-cards {
            width: 100%;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 50px;
            a {
                h5 {
                    padding-top: 10px;
                }
                p {
                    text-transform: none;
                    padding: 20px 200px 0 200px;
                }
            }
        }
        .org-cards_last {
            padding: 0;
        }
    }
    .intOrgCards {
        width: 250px;
        padding-bottom: 10px;
    }
}




@include mobile {
    .about__aboutUs {
        .hideElements {
            display: none;
        }

        .about__aboutUs__infoWrapper {
            width: 100%;
        }

        p {
            text-align: center;
        }
    }
    .about__intOrg {
        .org-cards {
            padding-bottom: 40px;
            a {
                h5 {
                    padding-top: 5px;
                }
                p {
                    text-transform: none;
                    padding: 10px 10px 0 10px;
                }
            }
        }
    }

    .documentation-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
 
        a {
            margin-bottom: 5px;
            width: 160px ;
            text-align: center;
            border: 1px solid $fill;
        }
    }

    .tree {
        display: none;
    }

    .mobile__membersStructure {
        display: block !important;
       
    }

    .strucure__section {
        height: auto;
    }
}
