.container-news{
    display: flex;
    justify-content: space-between;
    
    .news-feed{
        display: flex;
        flex-direction: column;
        width: 75%;
        flex-wrap: wrap;
    }
}

.article{
    display: flex;
    padding: 30px 0 0 0;

    .slider_news{
        width: 200px;
        height: 100px;
        background-color: $fill;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }

    .article-right{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        height: 150px;
        justify-content: space-between;

        .btn-div{
            display: flex;
            justify-content: flex-end;
        }
        .subtitle{
            font-size: 18px;
            color: $secondary;
            font-family : $Fjalla One;
            font-weight: 500;
        }
    }
}

/*.container-news2{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: 0;
    width: 100%;
    
    
    .news2-title{
        display: flex;
        img{
            width: 300px;
            height: 250px;
        }

        .title-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
        }
    }

    .slider_news2{
        width: 200px;
        height: 150px;
        background-color: $fill;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

    }
    .news2-text{
        padding-top: 30px;
        flex-wrap: wrap;
    }
   
}*/
.container-calendar{
    width: 100%;
    

    
    .calendar-news{
        width: 100%;
        height: 592px;
    }
}
.container-pressKit{
    display: flex;
    width: 100%;
    height: 592px;
    flex-direction: column;

    
    .pressKit-title{
        display: flex;

        .title-div{
            display: flex;
            align-items: center;
            padding-left: 200px;
        }
        img{
            width: 200px;
            height: 200px;
        }
    }
    .download-btn{
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
}

// NEWS

.isInactive{
    display: none;
}
