.container-news{
    display: flex;
    justify-content: space-between;
    .news-feed{
        display: flex;
        flex-direction: column;
        width: 75%;
    }
}

.article{
    display: flex;
    padding: 30px 0 0 0;

    .slider_news{
        width: 200px;
        height: 150px;
        background-color: #931621;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }

    .article-right{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        height: 150px;
        justify-content: space-between;

        .btn-div{
            display: flex;
            justify-content: flex-end;
        }
    }
}
