// .topPicContainer {
//     display: flex;
//     position: relative;
//     height: 10rem;
    
//     &__title{
//       position: absolute;
//       align-self: flex-end;
//       margin-left: 90%;

//     }
//     &__pic{
//         width: 100%;
//         background-color: $fill;
//         clip-path: polygon(0 57%, 100% 57%, 78% 100%, 0% 100%); 
//         background-color: $fill;
//     }
// }

.photosWrapper{
  display: flex;
 flex-direction: row;
}

.photosContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10%;
  overflow: auto;

  &__thumbnail{
    width: 19%;
    height: 18%;
    min-width: 17%;
    margin-bottom: 20px;
    padding: 0 10px;
    cursor: pointer;
  }
 
}
.photosContanier__title {
display: flex;
justify-content: center;
margin-bottom: 3%;
}

.photos_line_container {
  flex-direction: column;
  // position: fixed;   ///dodadeno
  position: sticky;
  top: 200px;
  justify-content: space-evenly;
  border-left: 5px solid $secondary;
  height: 65vh;
  border-radius: 5px;
  margin-left: 3%;
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    li {
      padding: 5px;
      a {
        color: $secondary;
        &:hover {
          color: $fill;
          cursor: pointer;
        }
      }
    }
    .isOdd{
      margin-left: -110%;
    }
  }
}

@include laptop{
.photos_line_container{
  margin-left: 10%;
}
  .photosContainer{
    margin-left: 10%;
    &__thumbnail{
      width: 28.5%;
      height: 18%;
      min-width: 19%;
    }
  }
  .photosContanier__title{
    justify-content: flex-start;;
    margin-left: 37%;
  }
}

@include tablet{
.photosContainer{
  &__thumbnail{
    width: 40%;
    height: 18%;
    min-width: 17%;
  }
}
.photosContanier__title{
  justify-content: flex-start;;
  margin-left: 32%;
}
}

@include mobile{
.photosContainer{
  flex-direction: column;
  &__thumbnail{
    width: 100%;
    height: 18%;
    min-width: 70%;
  }
}
.photos_line_container{
  margin-left: 10%;
  height: 60vh;
  top: 250px;

  a{
    font-size: 16px;
  }
  li{
    padding: 3px;
  }
}
}