// .topPicContainer {
//     display: flex;
//     position: relative;
//     height: 10rem;
    
//     &__title{
//       position: absolute;
//       align-self: flex-end;
//       margin-left: 90%;

//     }
//     &__pic{
//         width: 100%;
//         background-color: $fill;
//         clip-path: polygon(0 57%, 100% 57%, 78% 100%, 0% 100%); 
//         background-color: $fill;
//     }
// }

.visibility{
  display: none;
}

.show{
  display: block;
}

.photosWrapper{
  display: flex;
 flex-direction: row;
}

.photosContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10%;
  overflow: auto;

  &__thumbnail{
    width: 19%;
    height: 18%;
    min-width: 17%;
    margin-bottom: 20px;
    padding: 0 10px;
    cursor: pointer;
  }
 
}
.photosContanier__title {
display: flex;
justify-content: center;
margin-bottom: 3%;
}

.photos_line_container {
  flex-direction: column;
  //position: fixed;   ///dodadeno
  position: sticky;
  top: 130px;
  //margin-top: -60px;
  justify-content: space-evenly;
  border-left: 3px solid $fill;
  box-shadow: 0 0 20px $red;
  height: 73vh;
  border-radius: 25%;
  margin-left: 3%;
  width: 3px;
  
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    li {
      padding: 3px;
      margin-left: 5px;
      a {
        &:hover {
          color: $fill;
          cursor: pointer;
        }
      }
    }
    .isOdd {
      margin-left: -50px;
    }
  }
}

@include laptop{
.photos_line_container{
  margin-left: 10%;
}
  .photosContainer{
    margin-left: 10%;
    &__thumbnail{
      width: 28.5%;
      height: 18%;
      min-width: 19%;
    }
  }
  .photosContanier__title{
    justify-content: flex-start;;
    margin-left: 37%;
  }
}

@include tablet{
  .photosContainer{
    margin-right: -18%;
    &__thumbnail{
      width: 40%;
      height: 18%;
      min-width: 17%;
    }
  }
  .photosContanier__title{
    justify-content: flex-start;;
    margin-left: 32%;
  }
  .photos_line_container{
    ul{
      li{
        a{
          font-size: 16px;
        }
      }
    }
  }
}

@include mobile{
  .photosContanier__title{
    margin-left: 30%;
  }
  .photosContainer{
    flex-direction: column;
    margin-right: -20%;
    &__thumbnail{
      width: 80%;
      height: 18%;
      min-width: 70%;
      
    }
  }
  .photos_line_container{
    margin-left: 15%;
    margin-right: 5%;
    height: 65vh;
    top: 250px;
    ul{
      li{
        padding: 3px;
      }
      a{
        font-size: 16px;
      }
    }
  }
}