.slider__photos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider__previewPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 900px;
    }
}

.slider__picture{
    width: 250px;
    height: 150px;
    padding: 10px;
}

.arrow_previous{
    display: flex;
    align-items: flex-end;
    width: 50px;
}