
.videos-container {
    position: relative;
    .videos-title{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .bounding_box {

        height: 100px;
        width: 100%;
        background-image: url("../../img/606641.jpg");
        background-repeat: no-repeat;
        
        clip-path: polygon(20% 0, 100% 0, 100% 49%, 0 49%);
        
    }
}

.main_videos{
    display: flex;
    justify-content: center;
    align-content: center;
    
    margin-top: 3%;
}

//videos slider

.videos_slider {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .videos_slider1 {
        background-image: url("./img/74381.JPG");
        background-size: 100px contain;
        

    }
    
}