table, th, td{
    
    border-collapse: collapse;
    opacity: 0.95;
    h5{
        color: $primary;
    }
    th, td{
        padding: 10px;
        text-align: center;
        color: $secondary;
        font-size: 18px;
    }
    th{
        background-color: $fill;
        color: $primary;
    }
    #header{
        background-color: $secondary;
        color: $primary;
        font-size: 18px;
        padding: 10px;
    }
}
table{
    width: 65%;
}
.tablediv{
    display: flex;
    justify-content: center;
}
