table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
    
    
    th, td{
        padding: 10px;
        text-align: center;
    }
    th{
        background-color: $fill;
        color: $primary;
    }
    tr:nth-child(even){
        background-color:$secondary;
    }
    tr:nth-child(odd){
        background-color: white;
    }
    #header{
        background-color: $secondary;
    }
}
table{
    width: 65%;
}
.tablediv{
    display: flex;
    justify-content: center;
}
