.login__form {
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary;
    border-radius: 5px;
    border: 1px solid $fill;
    box-shadow: 0 0 10px $red;
    padding: 30px 10px;
    
     p {
         padding-bottom: 2%;
         color: $secondary;
         font-family: $Roboto;
     }

     i {
         color:$secondary;
         font-size: large;
     }

    .login__exit-button{
    display: flex;
    justify-content: flex-end;
    }

    input[type = "email"], [type = "password"]{
        padding-left: 10px;
        font-family: $FjallaOne;
        color: $fill;
    }

    ::placeholder{
        font-family: $FjallaOne;
        color: $fill;
        text-transform: uppercase; 
    }

    .login__input{
        height: 40px;
        width: 200px;
        border: .5px solid $secondary;
        border-radius: 3%;
    }
} 

.login_wrapper{  
    display:none;
}

.login_wrapper-active{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: (rgba($primary,0.8));
    z-index: 100;
    position: fixed;
    animation: LoginOpen 1s linear;
}

@keyframes LoginOpen {
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(0);
    }
}


// .login_wrapper-close{
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//     background: (rgba($primary,0.8));
//     z-index: 100;
//     position: fixed;
//     animation: LoginClose 1s linear;
// }

@keyframes LoginClose {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-150%);
    }
}