.register__form {
  width: 350px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $primary;
  border-radius: 1%;
  

   p {
       padding-bottom: 2%;
       color: $secondary;
       font-family: $Roboto;
   }

   i {
       color:$secondary;
       font-size: large;
   }
   
  .register__exit-button{
  display: flex;
  justify-content: flex-end;
  }

  ::placeholder{
      font-family: $FjallaOne;
      color: $fill;
      text-transform: uppercase;
      padding-left: 5%;
  }

  .register__input{
      height: 40px;
      width: 200px;
      border: .5px solid $secondary;
      border-radius: 3%;
  }
  
}
.register_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#birth_date{
  color: $fill;
  font-family: $FjallaOne;
}


.select_label{
  padding-bottom: 10px;
  color: $fill;
  font-family: $FjallaOne;
}

#gameselection {
  border-radius: 5px;
  color: $fill;
  font-family: $FjallaOne;
}


//Old code
// .signupSection {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 800px;
//     height: 450px;
//     text-align: center;
//     display: flex;
//     color: $secondary;
//     // box-shadow: 0px 0px 10px 5px $fill;
//     .info {
//         width: 45%;
//         background-color: $primary;
//         padding: 30px 0;
//         border-right: 1px solid $fill;
//         box-shadow: 0px 0px 10px 5px $fill;
//         img{
//             width: 200px;
//         }

//         h2 {
//           padding-top: 30px;
//           font-weight: 300;
//         }

//         p {
//           font-size: 18px;
//           font-family: $FjallaOne;
//           padding-top: 20px;
//         }

//         .icon {
//           font-size: 8em;
//           padding: 20px 0;
//           color:$primary;
//         }
//   }
  

//   }
  
//   .signupForm {
//     width: 70%;
//     padding: 30px 0;
//     background: $secondary;
//     transition: .2s;
//     h2 {
//       font-weight: 300;
//       color:$fill   ;
//     }
//   }
  
//   .inputFields {
//     margin: 15px 0;
//     font-size: 16px;
//     padding: 10px;
//     width: 250px;
//     border: 1px solid $fill;
//     border-top: none;
//     border-left: none;
//     border-right: none;
//     background: darken($secondary, 10%);
//     color: $primary;
//     outline: none;
//   }
  
//   .noBullet {
//     list-style-type: none;
//     padding: 0;
//   }
  
//   #join-btn {
//     border: 1px solid $fill;
//     background: darken($secondary, 30%);
//     font-size: 18px;
//     color: $secondary;
//     margin-top: 20px;
//     padding: 10px 50px;
//     cursor: pointer;
//     transition: .4s;
//     &:hover {
//         background: $fill;
//       padding: 10px 80px;
//     }
//   }
  
  