// Mixin for all h elements
@mixin h($fontSize,$lineHeight) {
    font-family: $FjallaOne;
    font-weight: 500;
    font-size: $fontSize;
    color: $secondary;
    line-height:$lineHeight;
    text-transform: uppercase;
}

//Mixin for paragraph
@mixin p {
    font-family: $Roboto;
    font-weight: 400;
    font-size: 16px;
    color: $secondary;
    opacity: 0.9;
}

//Mixin for anchor tags
@mixin a {
    font-family: $FjallaOne;
    font-weight: 400;
    font-size: 16px;
    color: $secondary;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        color: $fill;
    }
}

//Mixin for media query

//Mixin for shadow
@mixin shadow($level: 1) {
	@if $level == 1 {box-shadow: 0 1px 3px rgba(black,0.12), 0 1px 2px rgba(black,0.24);}
	@else if $level == 2 {box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);}
	@else if $level == 3 {box-shadow: 0 10px 20px rgba(black,0.19), 0 6px 6px rgba(black,0.23);}
	@else if $level == 4 {box-shadow: 0 14px 28px rgba(black,0.25), 0 10px 10px rgba(black,0.22);}
	@else if $level == 5 {box-shadow: 0 19px 38px rgba(black,0.30), 0 15px 12px rgba(black,0.22);}
}

