// *****COLORS*****

$primary : #11151C;
$secondary : #E3E3E3;
$fill : #931621;
$red : #EE2E31;
// *logo colors*
$logoRed : #EC1C24;
$logoYellow : #FFD200;


// *****FONTS*****

// Fjalla ONE font 'MAIN'
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$FjallaOne : 'Fjalla One';

// Roboto font 'Secondary'
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
$Roboto : 'Roboto';

// BACK UP font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
$OpenSans : 'Open Sans';


// *****MEDIA QUERIES*****

//Mobile
$phone : 360px;
//TABLET
$tablet : 768px;
//DESKTOP
$desktop : 1366px;
//L DESKTOP
$LGdesktop : 1920px;
