@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
body {
  background-color: #11151C;
  font-family: '$Roboto';
}

.pd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pd-top130 {
  padding-top: 130px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.padding-bt-20 {
  padding-bottom: 20px;
}

.padding-bt-30 {
  padding-bottom: 30px;
}

.background {
  background: url("../../Photos/123456.jpg") center center/cover;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 38px;
  color: #E3E3E3;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 32px;
  color: #E3E3E3;
  line-height: 1.38;
  text-transform: uppercase;
}

h3 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 28px;
  color: #E3E3E3;
  line-height: 1.25;
  text-transform: uppercase;
}

h4 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 24px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

h5 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 20px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

h6 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 16px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #E3E3E3;
  opacity: 0.9;
}

a {
  font-family: "Fjalla One";
  font-weight: 400;
  font-size: 18px;
  color: #E3E3E3;
  text-transform: uppercase;
  cursor: pointer;
}

.btn {
  background-color: #931621;
  font-size: 16px;
  font-style: "Roboto";
  padding: 2px 30px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #EE2E31;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  font-size: 12px;
  font-family: "Roboto";
}

footer a:hover {
  color: #931621;
}

footer h3 {
  color: #931621;
}

footer .iframe__map {
  width: 300px;
  height: 150px;
}

.copyright {
  background-color: #E3E3E3;
  color: #11151C;
  text-align: center;
  font-family: "Fjalla One";
  font-weight: 100;
  padding: 10px 0;
}

.copyright .copyright__color {
  color: #EE2E31;
}

.header__background {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  background-color: #11151C;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #931621;
  -webkit-box-shadow: 0 0 10px #EE2E31;
          box-shadow: 0 0 10px #EE2E31;
}

.header__background img {
  width: 90px;
}

.header__background li {
  display: inline-block;
  padding: 15px;
}

.header__background li :hover {
  color: #931621;
}

.header__background i {
  color: #931621;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

i {
  color: #E3E3E3;
  font-size: 30px;
  padding-right: 10px;
}

.whatIs__mainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.whatIs__mainDiv h5 {
  color: #931621;
  text-transform: capitalize;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 10px;
}

.whatIs__mainDiv p {
  font-style: italic;
  font-size: 14px;
  padding-left: 50px;
}

.whatIs__mainDiv .whatIs__subDiv1 {
  width: 50%;
  padding-right: 10px;
}

.whatIs__mainDiv .whatIs__subDiv2 {
  width: 50%;
  padding-left: px;
  text-align: center;
}

.whatIs__mainDiv iframe {
  width: 100%;
  height: 80%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.page3 {
  background-color: #931621;
  width: 100%;
  height: 800px;
}
/*# sourceMappingURL=main.css.map */