@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
body {
  background-color: #11151C;
  font-family: '$Roboto';
}

body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #11151C;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #931621;
  /* color of the scroll thumb */
  border-radius: 50px;
  /* roundness of the scroll thumb */
  border: 3px solid #11151C;
  /* creates padding around scroll thumb */
}

.pd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pd-top130 {
  padding-top: 130px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.padding-bt-20 {
  padding-bottom: 20px;
}

.padding-bt-30 {
  padding-bottom: 30px;
}

.background {
  background: url("../../Photos/123456.jpg") center center/cover;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 38px;
  color: #E3E3E3;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 32px;
  color: #E3E3E3;
  line-height: 1.38;
  text-transform: uppercase;
}

h3 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 28px;
  color: #E3E3E3;
  line-height: 1.25;
  text-transform: uppercase;
}

h4 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 24px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

h5 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 20px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

h6 {
  font-family: "Fjalla One";
  font-weight: 500;
  font-size: 16px;
  color: #E3E3E3;
  line-height: 1;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #E3E3E3;
  opacity: 0.9;
}

a {
  font-family: "Fjalla One";
  font-weight: 400;
  font-size: 16px;
  color: #E3E3E3;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  color: #931621;
}

.btn {
  background-color: #931621;
  font-size: 16px;
  font-style: "Roboto";
  padding: 2px 30px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #d62030;
  color: #E3E3E3;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #931621;
  -webkit-box-shadow: 0 0 10px #EE2E31;
          box-shadow: 0 0 10px #EE2E31;
}

footer .footer__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

footer .footer__main-div .footer__sub-div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

footer .footer__main-div .footer__sub-div ul li {
  margin: 20px 0;
}

footer .footer__main-div .footer__sub-div ul p {
  font-style: italic;
  font-weight: 200;
}

footer .footer__main-div .footer__sub-div ul .second_number {
  padding-left: 36px;
}

footer .footer__main-div i {
  font-size: 25px;
}

footer a {
  font-size: 16px;
  font-family: "Fjalla One";
  letter-spacing: 1px;
}

footer a:hover {
  color: #931621;
}

footer h3 {
  text-transform: unset;
  color: #931621;
  padding: 20px 30px 10px 0;
}

footer .iframe__map {
  width: 100%;
  height: 100%;
}

.copyright {
  background-color: #E3E3E3;
  color: #11151C;
  text-align: center;
  font-family: "Fjalla One";
  font-weight: 100;
  padding: 5px;
}

.copyright .copyright__color {
  color: #EE2E31;
}

nav {
  z-index: 100;
  position: fixed;
  height: 100px;
  background-color: #11151C;
  width: 100%;
  border-bottom: 1px solid #931621;
  -webkit-box-shadow: 0 0 10px #EE2E31;
          box-shadow: 0 0 10px #EE2E31;
}

nav .header__main-div {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .header__main-div .btn__desktop__login {
  display: inline;
}

nav .header__main-div .search__desktop {
  font-size: 20px;
  color: #931621;
}

nav .header__main-div img {
  width: 90px;
  height: 90px;
}

nav .header__main-div .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .header__main-div .nav-links li a {
  font-size: 18px;
}

nav .header__main-div .nav-links li .search__mobile {
  display: none;
}

nav .header__main-div .btn__mobile__login {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #E3E3E3;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }
  nav .header__main-div .btn__desktop__login {
    display: none;
  }
  nav .nav-links {
    width: 100%;
  }
  nav .nav-links .btn__mobile__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-links .search__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #931621;
  }
  nav .logo {
    position: absolute;
    left: 30px;
  }
  nav .logo a {
    font-size: 14px;
  }
  .search__desktop {
    display: none;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #11151C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    position: absolute;
    right: 30px;
  }
}

@media only screen and (min-width: 961px) {
  nav ul {
    margin-left: 0;
  }
  nav .nav-links {
    width: 70%;
  }
  a {
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 1340px) {
  nav ul {
    margin-left: -200px;
  }
  a {
    letter-spacing: 0;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.new_slider {
  width: 100%;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
.carousel > input[type="radio"]:checked ~ .carousel__prev > label,
.carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 0;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 75vh;
  position: relative;
}

.carousel__items img {
  height: 100%;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
}

.carousel__item img {
  width: 100%;
  vertical-align: middle;
}

.carousel__prev > label, .carousel__next > label {
  cursor: pointer;
  display: block;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  z-index: 2;
}

.carousel__prev > label:before, .carousel__next > label:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

.carousel__prev > label {
  left: 0%;
}

.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next > label {
  right: 0%;
}

.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .125%;
  width: 10px;
  height: 10px;
}

.carousel-caption {
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  display: none;
}

.carousel-control {
  text-shadow: 0;
}

.carousel-control.left {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%) !important;
}

.carousel-control.right {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%) !important;
}

img {
  width: 100%;
}

.carousel-inner {
  max-height: 565px;
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slider1 {
  width: 200px;
  height: 100px;
  background-color: #931621;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.slider .slider2 {
  width: 300px;
  height: 150px;
  background-color: #E3E3E3;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.slider .slider3 {
  width: 400px;
  height: 200px;
  background-color: grey;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.slider .slider4 {
  width: 300px;
  height: 150px;
  background-color: #E3E3E3;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.slider .slider5 {
  width: 200px;
  height: 100px;
  background-color: #931621;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

i {
  color: #E3E3E3;
  font-size: 30px;
  padding-right: 10px;
}

.whatIs__mainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.whatIs__mainDiv h5 {
  color: #931621;
  text-transform: capitalize;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 10px;
}

.whatIs__mainDiv p {
  font-style: italic;
  font-size: 14px;
  padding-left: 50px;
}

.whatIs__mainDiv .whatIs__subDiv1 {
  width: 50%;
  padding-right: 10px;
}

.whatIs__mainDiv .whatIs__subDiv2 {
  width: 50%;
  padding-left: px;
  text-align: center;
}

.whatIs__mainDiv iframe {
  width: 100%;
  height: 80%;
}

.findOurMore-btn {
  display: inline-block;
  position: relative;
  left: 250px;
  margin-top: 100px;
}

.ourMission__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourMission_sub-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ourMission_sub-div h5 {
  padding: 20px 0;
}

.ourMission_sub-div i {
  padding-top: 50px;
  font-size: 50px;
  color: #931621;
}

.ourMission_sub-div p {
  opacity: 0.8;
  font-style: italic;
  font-size: 14px;
  padding: 0 60px;
}

.becomeAMember__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.becomeAMember__main-div .becomeAMember__wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
}

.becomeAMember__main-div .becomeAMember__wrapper i {
  font-size: 60px;
  color: #931621;
  position: absolute;
}

.becomeAMember__main-div .becomeAMember__sub-div1 {
  margin-right: 30px;
}

.becomeAMember__main-div .becomeAMember__sub-div2 {
  margin-left: 30px;
  margin-top: 30px;
}

.becomeAMember__main-div .becomeAMember__card {
  padding: 20px;
  margin: 30px 0;
  background-color: black;
}

.becomeAMember__main-div .becomeAMember__card h5,
.becomeAMember__main-div .becomeAMember__card p {
  padding-left: 90px;
}

.becomeAMember__main-div .becomeAMember__card h5 {
  padding-bottom: 10px;
}

.becomeAMember__main-div .becomeAMember__card p {
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
}

.join_now {
  background-image: url("/img/background/pic1.jpg");
  padding: 60px 0;
}

.join_now .joinNow__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join_now h3 {
  text-transform: none;
}

.store-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.store-btn a {
  margin: 0;
}

.pd__bottom30 {
  padding-bottom: 30px;
}

.pd__bottom50 {
  padding: 50px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.structure__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.structure__inside .structure__middleDiv {
  margin-left: 25px;
}

.verticaly__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.org-cards {
  width: 16.66%;
  overflow: none;
}

.organizations__cardsWrapper {
  margin-left: -100px;
}

[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

#slider label img {
  width: 100%;
  height: 100%;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-30%, 0, -200px);
          transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(30%, 0, -200px);
          transform: translate3d(30%, 0, -200px);
}

.pastPartners__slider .slider1 {
  background-color: #E3E3E3;
}

.pastPartners__slider .slider1:hover {
  background-color: #b0b0b0;
  margin: 0 2px;
}

.slider__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__previewPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.slider__previewPicture img {
  width: 900px;
}

.slider__picture {
  width: 250px;
  height: 150px;
  padding: 10px;
}

.arrow_previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
}

.videos-container {
  position: relative;
  width: 95vw;
}

.videos-container .videos-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}

.videos-container .videos_bounding_box {
  height: 6rem;
  background-image: url("../../img/606641.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(20% 0, 100% 0, 100% 50%, 0 50%);
}

.main_videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 0%;
}

.videos_slider_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[3];
      grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.videos_slider_wrapper section {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.videos_slider_wrapper section .videos_slider_item {
  padding: 0 2px;
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.videos_slider_wrapper section .videos_slider_item:hover {
  margin: 0 40px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.videos_slider_wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.videos_slider_wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.videos_slider_wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}

.volunteer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.goFoundMe__main-div {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goFoundMe__main-div a {
  font-size: 24px;
  padding: 0 5px;
}

.goFoundMe__main-div h5 {
  text-transform: none;
  letter-spacing: 3px;
}
/*# sourceMappingURL=main.css.map */