// DESKTOP

.search-form_desktop {
    position: flex;
    transform: translate(10%, );
    transition: all 0.5s ease;
    width: 50px;
    height: 50px;
    background: $primary;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid $primary;
    padding: 5px;

    .search-input_desktop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 1px solid $primary;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa-search {
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: $fill;
        text-align: center;
        font-size: 1.2em;
        transition: all 0.5s;
    }

    &:hover {
        width: 25%;
        cursor: pointer;
    }

    &:hover .search-input_desktop {
        display: flex;
    }

    &:hover .fa-search {
        background: $secondary;
        border: 1px solid $fill;
        box-shadow: 0 0 10px $red;
        color: $fill;
    }
}


// MOBILE

.search-form_mobile {
    position: flex;
    transform: translate(50%, );
    transition: all 0.5s ease;
    background: $primary;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid $primary;

    .search-input_mobile {
        position: relative;
        top: 0;
        left: 0;
        height: 30px;
        border: 1px solid $fill;
        box-shadow: 0 0 5px $red;
        display: inline-block;
        font-size: 14px;
        color: $primary;
        border-radius: 20px;
        padding: 0 20px;
        margin-top: 10px;
        background-color: darken($secondary, 20%);
        &:hover{
            background-color: $secondary;
        }
    }

    .fa-search {
        padding: 18px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: $fill;
        text-align: center;
        font-size: 14px;
    
    };

  
}


