//CSS

// form{
//     position: absolute;
//     top: 4%;
//     right: 18%;
//     transform: translate(-50%,);
//     transition: all 1s;
//     width: 50px;
//     height: 50px;
//     background: white;
//     box-sizing: border-box;
//     border-radius: 25px;
//     border: 4px solid white;
//     padding: 5px;
// }

// input{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;;
//     height: 42.5px;
//     line-height: 30px;
//     outline: 0;
//     border: 1px solid black;
//     display: none;
//     font-size: 1em;
//     border-radius: 20px;
//     padding: 0 20px;
// }

// .fa{
//     box-sizing: border-box;
//     padding: 10px;
//     width: 42.5px;
//     height: 42.5px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     border-radius: 50%;
//     color: #07051a;
//     text-align: center;
//     font-size: 1.2em;
//     transition: all 1s;
// }

// form:hover{
//     width:70%;
//     cursor: pointer;
// }

// form:hover input{
//     display: block;
// }

// form:hover .fa{
//     background: #07051a;
//     color: white;
// }
//HTML
// <form>
// <input type="search" placeholder="Пребарување">
// <i class="fa fa-search"></i>
// </form>