.main__nav {
    z-index: 100;
    position: fixed;
    height: 100px;
    background-color: $primary;
    width: 100%;
    border-bottom: 1px solid $fill;
    box-shadow: 0 0 10px $red;
    .header__main-div {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn__desktop__login {
            display: inline;
        }
        .search-form_mobile {
            display: none;
        }
        img {
            width: 90px;
            height: 90px;
        }
        .nav-links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            li {
                a {
                    font-size: 18px;
                }
                .search__mobile {
                    display: none;

                }
            }
        }
        .btn__mobile__login {
            display: none;
        }
    }
}

.burger {
    display: none;
    cursor: pointer;
    div {
        width: 25px;
        height: 2px;
        background-color: $secondary;
        margin: 5px;
        transition: all 0.3s ease;
    }
}


.active {
    color: $fill; // pokazuva so crvena boja na koja strana si.
}

// ***MEDIA QUERY***
@include laptopL{}

@include laptop {
    .main__nav {
        height: 100px;
        .header__main-div {

            img {
                width: 80px;
                height: 80px;
            }
            .nav-links {
                width: 60%;
                li {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@include tablet {
    .main__nav {
        .header__main-div {
            .btn__desktop__login {
                display: none;
            }
            .search-form_desktop {
                display: none;
            }
            .logo {
                position: absolute;
                left: 30px;
            }
            .btn__mobile__login {
                display: flex;
            }
            .search-form_mobile {
                display: inline;
                
            }
            .nav-links{
                width: 100vw;
            }
        }


    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: $primary;
        background-image: linear-gradient(rgba($primary, 0.99) 0%,rgba($primary,0.99) 100%), 
        url('/img/mklogobeli.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li {
            opacity: 0;
        }

    }

    .burger {
        display: block;
        position: absolute;
        right: 30px;
    }
}

// *****
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


@include mobile{

}