.fix-sidebar-news{
    background-color: darken($primary, 10%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    max-height: 600px;
    border: 1px solid $fill;
    box-shadow: 0 0 10px $red;
    position: sticky;
    top: 130px;

    .sidebar-news-title{
        border-bottom: 2px solid $secondary;
        padding-bottom: 5px;
    }
    .sidebar-news-article{
        border-bottom: 2px solid darken($secondary, 30%);
        padding-bottom: 5px;
        h5{
            color: $fill;
            padding-bottom: 5px;
        }
    }
}