<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../Style/main.css">
</head>

<body>
    <section>

        <header class="header__background">
            <img src="/img/e-sport Macedonia - LOGO.png" alt="logo">

            <ul>

                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Get Involved</a></li>
                <li><a href="">Components</a></li>

            </ul>

            <i class="fas fa-search"></i>

            <a class="btn" href="">LOGIN</a>

        </header>

    </section>
</body>

</html>