<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="./img/e-sport Macedonia - LOGO.png" />
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <header>
        <nav class="main__nav">
            <div class="header__main-div container">
                <div class="logo">
                    <img src="../img/e-sport Macedonia - LOGO.png" alt="">
                </div>
                <ul class="nav-links">
                    <li>
                        <form class="search-form_mobile">
                            <input class="search-input_mobile" type="search" placeholder="Search here...">
                            <i class="fa fa-search "></i>
                        </form>
                    </li>
                    <li>
                        <a href="/0-homepage.html">Home</a>
                    </li>
                    <li>
                        <a href="/1-about.html">About</a>
                    </li>
                    <li>
                        <a href="/2-news.html">News</a>
                    </li>
                    <li>
                        <a href="/3-0-gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="/4-getInvolved.html">Get Involved</a>
                    </li>
                    <li>
                        <a href="/5-competitions.html">Competitions</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn__mobile__login">LOGIN</a>
                    </li>
                </ul>

                <a href="#" class="btn btn__desktop__login">LOGIN</a>

                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>


                <form class="search-form_desktop">
                    <input class="search-input_desktop" type="search" placeholder="Search here...">
                    <i class="fa fa-search"></i>
                </form>


            </div>
        </nav>
    </header>
    
    <form action="" class="login__form">
        <a href=""><i class="fas fa-times-circle  login__exit-button"></i></a>
        <div class="">
            <div class="flex-center padding-bt-20">
                <img src="../img/e-sport Macedonia - LOGO.png" alt="cannot upload image" width="100px" height="100px">
            </div>
            <div class="flex-center">
                <p>
                    Sign in with social networks
                </p>
 
                <div class="flex-space-between padding-bt-30">
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
               
            </div>
            <div class="flex-center ">
                <div class="padding-bt-20">
                    <input type="email" placeholder="Email" class="login__input">
                </div>
                <div class="padding-bt-20">
                    <input type="password" placeholder="Password" class="login__input">
                </div>
            </div>
            <div class="flex-center padding-bt-20">
                <a href="" class="btn">Login</a>
            </div>
            <div class="flex-space-between">
                <a href="" class="login__aTags">forgot password</a>
                <a href="../components/register.html" class="login__aTags">register</a>
            </div>
        </div>
    </form>
    

</body>
</html>